

body{
    font-family: Courier, monospace;
    background-color: rgb(67, 62, 62);
}


.header{
    background-color: rgb(228, 139, 139);
    height: 60px;
    width: auto;
    border-style: solid;
    border-color: rgb(168, 0, 0);
    border-radius: 100px;
    font-size: 50px;
    text-align: center;
    font-weight: 720;
}

#intro{
    background-color: rgb(228, 139, 139);
    margin-top: 50px;
    height: 50px;
    text-align: center;
    font-weight: 700;
   
}

#btnBox{
    margin: auto;
    text-align: center;
    margin-top: 50px;
}

#strBtn{
    height: 100px;
    width: 200px;
    font-size: 30px;
    font-family: Courier, monospace;
}

#strBtn:hover{
    background-color: rgb(244, 206, 206);
    font-weight: 600;
    cursor: pointer;
    font-family: Courier, monospace;
}

#time{
    background-color: rgb(255, 0, 0);
    width: fit-content;
    margin: 20px;
    border-style: solid;
    margin: auto;
}

#question{
    background-color: rgb(228, 139, 139);
    font-size: 18px;
    height: auto;
}

#next{
    margin-top: 50px;
    height: 100px;
    width: 200px;
    font-size: 20px;
}

#next:hover{
    background-color: rgb(244, 206, 206);
    font-weight: 600;
    cursor: pointer;
}






